h1 {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(150, 150, 150);
    background-color: black;
    border-bottom: thick solid rgba(163, 0, 0, 0.493);
    margin: 0px 300px 0px 300px;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(150, 150, 150);
    background-color: black;
    border-bottom: thick solid rgba(163, 0, 0, 0.493);
    margin: 0px 300px 0px 300px;
}

.content h4 {
    font-size: 1.25em;
    margin-bottom: 0.8em;
    display: flex;
    justify-content: space-around;
}

.aboutDevs {
    display: flex;
    flex-direction: row;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.devTitle {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 200;
    margin: 40px 0px 40px 0px;
}

.columns, .features {
    width: 1500px;
    height: auto;
    align-items: baseline;
}

.searchField {
    display: flex;
    justify-content: center;
}

.input {
    display: flex;
    justify-content: center;
    width: 400px;
    border: thin solid black;
    margin: 40px 10px 40px 0px;
}

.button {
    display: flex;
    justify-content: center;
    margin: 40px 0px 40px 0px;
}

.button.is-danger {
    background-color: rgba(163, 0, 0, 0.493);
}

.cover {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.potatoImg {
    width: 300px;
    height: 300px;
}

body {
    background-color: black;
}

.usageParagraph {
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(150, 150, 150);
    font-size: large;
    border-bottom:rgba(163, 0, 0, 0.493);
    margin: 0px 300px 0px 300px;
}

.usageArea {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 200;
    border-bottom:rgba(163, 0, 0, 0.493);
    margin: 0px 300px 0px 300px;
}

.image {
    height: 500px;
    width: 600px;
}

footer {
    background-color: black;
}

.hero-head {
    display: flex;
    justify-content: center;
}

#homeBtn {
    font-size: 30px;
}

.hero-body {
    flex-grow: 0.5;
}