h1 {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(150, 150, 150);
    border-bottom: thick solid rgba(163, 0, 0, 0.493);
    margin: 0px 300px 0px 300px;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(150, 150, 150);
    border-bottom: thick solid rgba(163, 0, 0, 0.493);
    margin: 0px 100px 0px 100px;
}

.content h4 {
    font-size: 1.25em;
    margin-bottom: 0.8em;
    display: flex;
    justify-content: space-around;
}

.aboutDevs {
    display: flex;
    flex-direction: row;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.devTitle {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 200;
    margin: 40px 0px 40px 0px;
}

.columns-features {
    display: flex;
    width: 1500px;
    height: auto;
    align-items: baseline;
}

.searchField {
    display: flex;
    justify-content: center;
}

.input {
    display: flex;
    justify-content: center;
    width: 400px;
    border: thin solid black;
    margin: 40px 10px 40px 0px;
}

.button {
    display: flex;
    justify-content: center;
    margin: 40px 0px 40px 0px;
}

#model {
    display: flex;
    justify-content: center;
}

#close {
    display: flex;
    justify-content: space-around;
    color: rgb(163, 0, 0);
}

#promptTxt {
    display: flex;
    justify-content: center;
    color: rgb(163, 0, 0);
}

.button.is-danger {
    background-color: rgba(163, 0, 0, 0.493);
}

#homeBtn {
color:rgb(150, 150, 150);
}

.cover {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

.potatoImg {
    width: 300px;
    height: 300px;
}

body {
    background-color: black;
    color: rgb(163, 0, 0);
}

.usageParagraph {
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(150, 150, 150);
    font-size: 24px;
    border-bottom:rgba(163, 0, 0, 0.493);
    margin: 0px 300px 0px 300px;
}

.usageArea {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 200;
    border-bottom:rgba(163, 0, 0, 0.493);
    margin: 0px 300px 0px 300px;
}

.image {
    height: 600px;
    width: 600px;
}


.hero-head {
    display: flex;
    justify-content: center;
}

#homeBtn {
    font-size: 30px;
}

.hero-body {
    flex-grow: 0;

}

.searchHistory {
    display: flex;
    justify-content: center;
}

#lastSearched {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color:rgb(150, 150, 150);   
    font-size: 30px; 
    width: 500px;
}

#moviePoster {
    padding: 0px;
    height: 900px
}

#movieTitle {
    margin: 0px 0px 30px 0px;
    padding-bottom: 15px;
}

#modal {
    display: none;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .4);
}
#modalContent {
    background-color: #FEFEFE;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: fit-content;
    border-radius: 10px;
    margin-bottom: 150px;
}
#close {
    font-family: 'Courier New', Courier, monospace;
    color: #AAAAAA;
    border: 2px solid #AAAAAA;
    padding-left: 2px;
    padding-right: 2px;
    float: right;
    font-size: 18px;
    font-weight: bold;
}
#close:hover, #close:focus {
    color: rgba(253, 0, 0, .8);
    border: 2px solid rgba(253, 0, 0, .8);
    text-decoration: none;
    cursor: pointer;
}

#streamingServices {
    color: #4a4a4a;
    font-size: 20px;
    font-weight: bold;
}

.streamingHeader {
    color:rgb(150, 150, 150);
    font-size: 40px;
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 10px;
    border-bottom:thick solid rgba(163, 0, 0, 0.493);
}

.rentHeader {
    padding: 5px 0px 5px 0px;
    border-bottom: thin solid grey;
}

.rent, .buy {
    padding: 10px;
}

.purchaseHeader {
    padding: 5px 0px 5px 0px;
    border-bottom: thin solid grey;
}

#lastSearched button {
    border-radius: 4px;
    background-color: rgba(163, 0, 0, 0.493);
    color: white;
    width: 120px;
    height:30px;
}

#lastSearched button:hover {
    background-color: #f03a5f;
}

.columns:last-child {
    margin-bottom: 0rem;
}

@media screen and (max-width: 2500px) {
    .columns-features{
        display: flex;
    }

h1 {
    margin: 10px 150px 10px 150px;
}

}


@media screen and (max-width: 1500px) {
    .columns-features {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin: 10px 100px 10px 100px;
}

.image {
    height: 500px;
    width: 600px;
}

.columns-features {
    width: 600px;
}

.column.is-4, .column.is-4-tablet {
    width: 600px;
}

}

@media screen and (max-width: 1200px), print {
.column.is-4, .column.is-4-tablet {
    display: flex;
    justify-content: center;
    }

h1 {
    margin: 10px 100px 10px 100px;
    font-size: 40px;
}

.image {
    height: 500px;
    width: 600px;
}

.usageParagraph {
    margin: 0px 200px 0px 200px;
}

.columns-features {
    width: 600px;
}

.column.is-4, .column.is-4-tablet {
    width: 600px;
}

#moviePoster {
    height: 700px;
}

}



@media  screen and (max-width: 990px) {
h1 {
    margin: 10px 100px 10px 100px;
    font-size: 30px;
}

.usageParagraph {
    font-size: 18px;
    margin: 0px 200px 0px 200px;
}

.image {
    height: 500px;
    width: 600px;
}

.columns-features {
    width: 600px;
}

.column.is-4, .column.is-4-tablet {
    width: 600px;
}

#moviePoster {
    height: 600px;
}

}

@media  screen and (max-width: 900px), print {
    h1 {
        margin: 10px 100px 10px 100px;
        font-size: 30px;
    }
    
    .usageParagraph {
        font-size: 18px;
    }
    
    .image {
        height: 400px;
        width: 500px;
    }

    .columns-features {
        width: 600px;
    }

    .column.is-4, .column.is-4-tablet {
        width: 600px;
    }

    .column {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #moviePoster {
        height: 500px;
        width: 400px;
    }

    .title {
        font-size: 50px;
    }
    
    }


@media screen and (max-width: 750px) {
    .usageArea {
        font-size: 40px;
        margin: 0px;
    }

.usageParagraph {
    margin: 20px;
}

.input {
    width: 300px;
}

.title {
    margin: 40px;
    font-size: 40px;
}

.columns-features {
    width: 300px;
}

.image {
    height: 300px;
    width: 400px;
}

.column.is-4 {
    width: 325px;
}

.devTitle {
    font-size: 30px;
}

.usageArea {
    font-size: 30px;
}

.input {
    width: 200px;
    font-size: 16px;
}

.column {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

}

@media screen and (max-width: 450px) {
    .image {
        height: 300px;
        width: 325px;
    }

.column.is-4 {
    width: 325px;
}

.title {
    margin: 20px;
    font-size: 35px;
}

h1 {
    margin: 20px;
    font-size: 35px;
}

}