h1 {
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:blanchedalmond;
    background-color: dimgrey;
}

.aboutDevs {
    display: flex;
    flex-direction: row;
}

.columns, .features {
    display: flex;
    flex-direction: row;
    width: 75%;
}